*{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabeçalho_imagem{
    width: 10%;
}
.cabeçalho_lista{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.Sobre_escola{
    background-image: linear-gradient(#424E61, #4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    
}
.imagem-introdução{
    width: 25%;
}
.conteudo_Sobre_escola{
    width: 35%;
}
.titulo_Sobre_escola{
    padding: 24px 0;
}
.sessao_professores{
    padding: 24px 0;
}
.div_colunas_sessao_professores{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.professor_imagem{
    width: 120px;
}
.div_professores{
    text-align: center;
    padding: 16px 0;
}
.div_professores_icones{
    width: 24px;
    padding: 4px 8px;
}
.rodape{
    background-color: black;
    text-align: center;
}
.rodape_imagem{
    height: 60px;
    padding: 12px 0;
}